// global 

*, 
*:before,
*:after {
    padding:0;
    margin:0;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%
}

.clearfix {
  display: table;
  content: " ";
  clear: both;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

@font-face {
	font-family:"luculent";
	src: url(../fonts/luculent.ttf);
}

@font-face {
	font-family:"luculent-bolditalic";
	src: url(../fonts/luculentbi.ttf);
}

@font-face {
	font-family:"luculent-italic";
	src: url(../fonts/luculenti.ttf);
}

@font-face {
	font-family:"apercupro";
	src: url(../fonts/apercu_regular_pro.otf);
}




// kerning for header
.kern {
	letter-spacing: -1px;
}

.kern2 {
	letter-spacing: 2px;
}

.kern3 {
	letter-spacing: 2px;
}

.kern4 {
	letter-spacing: -1px;
}

.kern5 {
	letter-spacing: 2px;
}

.kern6 {
	letter-spacing: -6px;
}

.kern7{
	letter-spacing: 1px;
}



// links

a:link {
	text-decoration: none;
		color:white;

}

a:visited {
		color: white;

}

a:hover {
		text-decoration: none;
		color:rgba(165,67,255,1);

}

a:active{
		text-decoration: none;
		color: black;
		

		}

body {
	background-color: rgba(26,26,26,.9);
}
.top {
	margin-left: 20px;
}

.head {
	height: 100px;
	padding-top: 50px;
		display: flex;
	align-items: row;
	justify-content: space-between;
}

header {
	font-family: "luculent-bolditalic";
	font-size: 36px;
	word-spacing: -12px;
	float: left;
	color: rgba(255,255,255,1);
	margin-right: 20px;

}



nav {
	font-family: "luculent";
	font-size: 12px;
	float: right;
	margin-top: 30px;
	max-width: 100%;



	ul {

			li{
						display: inline;
    					margin-right: 62px;
    					font-size: 14px;

						img {
							height:12px;
							width:12px;
						}

}		

}
}

.stick {
	text-align: right;
	height: 20%;
	margin-left: 30px;
	padding-bottom: 20px;
	width: 40px;
	margin-top: 30px;

// bottom margin for up resize window ????
	
	ul {

		position: fixed;
		margin-top: 30px;

		li {
			margin-bottom: 10px;



			display: block;

			img {
				width: 13px;
				height: 13px;
				margin-left: 7px;
			}

			a:link {

				color:rgba(255,255,255,0);
			}

			a:visited {
				color: white;
			}

			a:hover{
			color:white;
			}

			a:active{
				color:white;
			}



		}
	}
}


h2 {
	font-family: "luculent-italic";
	font-size: 26px;
	color: rgba(255,255,255,1);
	padding-left: 35px;
	padding-top: 10px;

}

.design h2 {
	color: rgba(255,196,255,1);
}

.code h2 {
	color: rgba(10,10,255,1);
}

.resume h2 {
	color: rgba(143,255,161,1);
}

.contact h2 {
	color: rgba(255,255,0,1);
}

p {
	font-family: "apercupro";
	font-size: 10px;

}

// main section p{
// padding: 13px 0px;
// 	background-color: yellow;
// 	text-align: center;
// 	margin-top: 250px;
// 	// margin: 0px 5px;
// }

// introduction

.intro {

	height: 200px;
	margin-top: 50px;
	max-width: 100vw;

	p{
	
	color: rgba(255,255,255,1);
	font-size: 32px;
	line-height: 50px;
	}
}


// portfolio section 

main {
	display: flex;
	flex-direction: column;
}
main section {
	background-color: rgba(255,255,255,.2);
	margin-bottom: 25px;
	margin-top: 25px;
	max-width: 100vw;
	// height: 400px;
	display: flex;
	align-items: center;


}

main div {
	margin-top: 100px;
}

main section img {
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	max-width: 100%;
}

main section p {
		color: white;
			display: inline;
			vertical-align: 50%;
			border: 1px solid white;
			padding: 5px;
			max-width: 100%;
			margin-right: 20px;


}


.contact {

	margin-bottom: 
	40px;

	h2 {
		margin-bottom: 30px;
		padding-left: 0px;
	}

	p{
	font-size: 30px;}
	padding-left: 40px;
	color: white;
}


// mobile styles 

@media only screen and (max-width: 899px) {

	.stick {
		display: none;
	}

		main section img {
		margin-left: 0px;
	}

	.head {
		display: block;
	}

	nav {
		float: left;
	}

	.top {
		margin-left: 
		20px;
	}

	.intro {
		width: 100%;
		margin-top: 101px;
		// margin-bottom: 50px;
	}

	main section {
		display: flex;
		flex-direction: column;
	}

	main section p {

		display: block;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	main section img {
		margin-bottom: 0px;
	}
}


@media only screen and (max-width: 570px) {
		.stick {
		display: none;
	}

	main section img {
		margin-left: 0px;
	}

header {
	float: none;
	text-align: center;
}
.intro p{
	margin-bottom: 100px;
	margin-top: 50px;
	font-size: 20px;
		margin-right: 20px;

}

.intro {
	margin-bottom: 40px;
	margin-top: 150px;
}

nav {
	float: none;
	width: 100%;
	margin-left:30%;
	margin-top: 20px;

}

nav ul li{
	display: block;
	font-size: 25px;

}




	}
// tablet styles

